<h1>Pick-Up Lists</h1>

  <article>
    <p>
    	<% @pickup_lists.each do |list| %>
    		<%= link_to "List for #{Client.find(list.client_id).name}", list %><br/>
    	<% end %>
    </p>
  </article>

<br />

<% #link_to 'Edit Pickup list', edit_client_pickup_list_path 
%>