<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @level.name %>
</p>

<div class="clearfix individualcontrols">
<%= link_to 'Edit', edit_level_path(@level) %>
<%= link_to 'Back', levels_path %>
</div>